<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A leap motion sensor enable web app to help little kids point to correct answer if they can’t read or write yet.">
  <title>LeapAhead</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="css/layouts/marketing.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="https://js.leapmotion.com/leap-0.6.4.js"></script>
  <script src="http://js.leapmotion.com/leap-plugins-0.1.11.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

  <div ng-view></div>

  <div><span app-version></span></div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/ui-bootstrap.min.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>



  <style>
    body {
      font-size: 1.5em;
      line-height: 2em;
    }

    #cursor {
      width: 60px;
      height: 60px;
      position: fixed;
      margin-left: -50px;
      margin-top: -50px;
      z-index: 910;
      opacity: 0.9;

      background: black;
      border-radius: 100%;
      background: -webkit-radial-gradient(100px 100px, circle, #5cabff, #000);
      background: -moz-radial-gradient(100px 100px, circle, #5cabff, #000);
      background: radial-gradient(100px 100px, circle, #5cabff, #000);
    }
    .buttonWrap{
      text-align: center;
      margin-top: 200px;
    }
    button{
      padding: 1em;
      margin: auto;
    }
    .center {
    margin: auto;
    width: 60%;

    padding: 10px;
    text-align: center;
    }

    .boxContainer{
        width: 800px;
        height: auto;
        display:table;
    }

    .row {display:table-row;}

    .box{
      text-align: center;
      font-size: 100px;
      min-height: 150px;
      height:100px;
      width: 100px;
      display:table-cell;
      border:1px solid gray;
      line-height: 300px;
    }

    .question{
      font-size: 50px;
      font-style: italic;
    }

  </style>


</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">LeapAhead</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="#/home" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#/game" class="pure-menu-link">Game</a></li>
            </ul>
        </div>
    </div>

<!--     <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Welcome to LeapAhead!</h1>
            <p class="splash-subhead">
                LeapAhead is a leap motion sensor web app that is used to help little kids point to correct answer if they can’t read or write yet. It is targeted towards toddlers; ideal for kids with learning needs.
            </p>
            <p>
                <a href="#/game" class="pure-button pure-button-primary">Let's Get Started!</a>
            </p>
        </div>
    </div>
 -->
 <!--    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">About the team</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
 -->































  <!-- ////////////////////////////////////////////////////////////////////////// -->








  <div id="output" class="output"></div>
  <div id="cursor"></div>


  <!-- <div class="buttonWrap">
    <button>Hover Me!</button>
  </div> -->
  <!-- <div ng-init="count=0">




  <div ng-if="count == 0">
    <p class="question center">{{question.$value}}</p>
    <div ng-controller="gameCtrl">
    <div class="boxContainer center">
     <div class="row">
       <div class="box">{{choice1.$value}}</div>
       <div class="box">{{choice2.$value}}</div>
     </div>
     <div class="row">
        <div class="box">{{choice3.$value}}</div>
       <div class="box">{{choice4.$value}}</div>
     </div>
    </div>
  </div>
  </div>

  <div ng-if="count == 1">
    <p class="question center">{{question2.$value}}</p>
      <div ng-controller="gameCtrl">
      <div class="boxContainer center">
       <div class="row">
         <div class="box">{{choice2_1.$value}}</div>
         <div class="box">{{choice2_2.$value}}</div>
       </div>
       <div class="row">
         <div class="box">{{choice2_3.$value}}</div>
         <div class="box">{{choice2_4.$value}}</div>
       </div>
     </div>
   </div>
  </div>

  <div ng-if="count == 2">
    <p class="question center">{{question3.$value}}</p>
      <div ng-controller="gameCtrl">
      <div class="boxContainer center">
       <div class="row">
         <div class="box">{{choice3_1.$value}}</div>
         <div class="box">{{choice3_2.$value}}</div>
       </div>
       <div class="row">
         <div class="box">{{choice3_3.$value}}</div>
         <div class="box">{{choice3_4.$value}}</div>
       </div>
     </div>
   </div>
  </div>

  <div ng-if="count == 3">
    <p class="question center">{{question4.$value}}</p>
      <div ng-controller="gameCtrl">
      <div class="boxContainer center">
       <div class="row">
         <div class="box"><img src={{choice4_1.$value}} style="width:300px;height:300px"></div>
         <div class="box"><img src={{choice4_2.$value}} style="width:300px;height:300px"></div>
       </div>
       <div class="row">
         <div class="box"><img src={{choice4_3.$value}} style="width:300px;height:300px"></div>
         <div class="box"><img src={{choice4_4.$value}} style="width:300px;height:300px"></div>
       </div>
     </div>
   </div>
  </div>

  <div ng-if="count == 4">
    <p class="question center">{{question5.$value}}</p>
      <div ng-controller="gameCtrl">
      <div class="boxContainer center">
       <div class="row">
         <div class="box"><img src={{choice5_1.$value}} style="width:300px;height:300px"></div>
         <div class="box"><img src={{choice5_2.$value}} style="width:300px;height:300px"></div>
       </div>
       <div class="row">
         <div class="box"><img src={{choice5_3.$value}} style="width:300px;height:300px"></div>
         <div class="box"><img src={{choice5_4.$value}} style="width:300px;height:300px"></div>
       </div>
     </div>
   </div>
  </div>

  <div ng-if="count == 5">
    <p class="question center">{{question6.$value}}</p>
      <div ng-controller="gameCtrl">
      <div class="boxContainer center">
       <div class="row">
         <div class="box"><img src={{choice6_1.$value}} style="width:300px;height:300px"></div>
         <div class="box"><img src={{choice6_2.$value}} style="width:300px;height:300px"></div>
       </div>
       <div class="row">
         <div class="box"><img src={{choice6_3.$value}} style="width:300px;height:300px"></div>
         <div class="box"><img src={{choice6_4.$value}} style="width:300px;height:300px"></div>
       </div>
     </div>
   </div>
  </div>

  <div ng-if="count == 6">
    <p class="question center">{{question7.$value}}</p>
      <div ng-controller="gameCtrl">
      <div class="boxContainer center">
       <div class="row">
         <div class="box"><img src={{choice7_1.$value}} style="width:300px;height:300px"></div>
         <div class="box"><img src={{choice7_2.$value}} style="width:300px;height:300px"></div>
       </div>
       <div class="row">
         <div class="box"><img src={{choice7_3.$value}} style="width:300px;height:300px"></div>
         <div class="box"><img src={{choice7_4.$value}} style="width:300px;height:300px"></div>
       </div>
     </div>
   </div>
  </div>

  <div class="center">
  <button ng-click="count = count - 1" type=button class="btn-btn-success">Previous </button>
  <button ng-click="count = count + 1" type=button class="btn-btn-success">Next </button>
  <span> count: {{count}}</span>
  </div>






































  </div>
 -->









  <!-- ////////////////////////////////////////////////////////////////////////// -->

</body>

<script>
  $(document).ready(function(){



    Leap.loop({hand: function(hand){

      var cursor = document.getElementById('cursor');
      var output = document.getElementById('output');

      console.log(output);

      var screenPosition = hand.screenPosition(hand.palmPosition);

      var outputContent = "x: " + (screenPosition[0].toPrecision(4)) + 'px' +
             "        <br/>y: " + (screenPosition[1].toPrecision(4)) + 'px' +
             "        <br/>z: " + (screenPosition[2].toPrecision(4)) + 'px';

             var x = screenPosition[0].toPrecision(4);
             var y = screenPosition[1].toPrecision(4);


      // hide and show the cursor in order to get second-topmost element.
      cursor.style.visibility = "hidden";
      var el = document.elementFromPoint(
          hand.screenPosition()[0],
          hand.screenPosition()[1]
      );
      cursor.style.visibility = "visible";

      if (el){
        outputContent += '<br>Topmost element: '+ el.tagName + ' #' + el.id +  ' .' + el.className;
      }

      output.innerHTML = outputContent;

      cursor.style.left = screenPosition[0] + 'px';
      cursor.style.top = screenPosition[1] + 'px';


    }})
    .use('screenPosition', {
      scale: 1
    });
  });
</script>

</html>
